<h1>List your items</h1>

<div class="row">
	<div class="span6 offset3">

		<%= form_for(@item) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>

		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>

		<%= f.label :subtitle, "Subtitle" %>
		<%= f.text_field :subtitle %>

		<%= f.label :condition, "Condition" %>
		<%= f.number_field :condition %>

		<%= f.label :description, "Description" %>
		<%= f.text_field :description %>

		<%= f.label :day_price, "Price" %>
		<%= f.text_field :day_price %>

		<%= f.submit "List", class: "btn btn-large btn-primary" %>
		<% end %>

	</div>
</div>